<%if(index){ %>
<div class="article_box">
    <%
      var art = theme.article_index,art_arr
      for (var i = 0; i < art.length; i++) {
      art_arr = art[i]
    %>
    <article class="article_index">
        <h4><i class="<%=art_arr.icon%>"></i><a href="<%=art_arr.url%>"><%=art_arr.title%></a>
        </h4>
        <p>
        <%if(art_arr.title == "Gitlab"){%>
            <!-- <a target="_blank" href="https://gitlab.com/<%=art_arr.content%>/commits/master"><img alt="pipeline status" src="https://gitlab.com/<%=art_arr.content%>/badges/master/pipeline.svg"/></a> -->
	    <a target="_blank" href="https://gitlab.com/<%=art_arr.content%>/commits/master"><img src="https://img.shields.io/gitlab/pipeline/<%=art_arr.content%>.svg?color=<%=art_arr.color%>" alt="pipeline status"/></a>
	    <a target="blank" href="https://creativecommons.org/licenses/by/4.0/"><img alt="license" src="https://img.shields.io/badge/license-CC--BY%204.0-green?color=<%=art_arr.color%>"></a>
	    <a href="https://twitter.com/intent/tweet?text=Wow:&url=https://gitlab.com/<%=art_arr.content%>"><img alt="Twitter" src="https://img.shields.io/twitter/url?logoColor=<%=art_arr.color%>&style=social&url=https://twitter.com/"></a>
            <a href="<%=art_arr.url%>"><img src="<%=art_arr.img%>"></a>
            <%}else{%>
            <%=art_arr.content%>
        <%}%>
        </p>
    </article>
    <%}%>
    <div class="clear"></div>
</div>
<%}%>
