<%if(index){ %>
<div class="article_box">
    <%
      var art = theme.article_index,art_arr
      for (var i = 0; i < art.length; i++) {
      art_arr = art[i]
    %>
    <article class="article_index">
        <h4><i class="<%=art_arr.icon%>"></i><%=art_arr.title%></h4>
        <p>
        <%if(art_arr.title == "Gitlab"){%>
            <a target="_blank" href="https://gitlab.com/<%=art_arr.content%>/commits/master"><img alt="pipeline status" src="https://gitlab.com/<%=art_arr.content%>/badges/master/pipeline.svg"/></a>
	    <a target="_blank" href=<img src="https://img.shields.io/gitlab/pipeline/<%=alt_arr.content%>.svg" alt="pipeline status"/></a>
        <%}else{%>
        <%=art_arr.content%>
        <%}%>
        </p>
    </article>
    <%}%>
    <div class="clear"></div>
</div>
<%}%>
